<head>
    <% include ../helpers/head %>
    <% include ../helpers/navbar %>
</head>

<body>
  <div class="page-header">
    <h1> about </h1>
  </div>

  <p> Welcome to the about page. <br /> The truth is, I don't know what this is about either. </p>
</body>
