<head>
    <% include ../helpers/head %>
    <% include ../helpers/navbar %>
</head>

<h1> about </h1>

<div> Welcome to the about page. /n The truth is, I don't know what this is about either. </div>
