<head>
    <% include ../helpers/head %>
    <% include ../helpers/navbar %>
</head>

<body>
  <div>
    <h1> contact </h1>
  </div>

  <p> This is the contact page. <br /> noreply@normieaddress.com </p>
</body>
